<div class="main-card" routerLink="grants/2">
  <div class="d-flex justify-content-end w-100">
    <span class="main-card-type">Кинематография</span>
  </div>
  <a class="main-card-title">
    {{name}}
  </a>
  <div class="w-100 d-flex justify-content-between main-card-info">
    <div class="main-card-item">
      <span class="main-card-item-icon main-card-item-icon-one"></span>
      <div>
        <span class="main-card-date">Сумма гранта</span>
        <span class="main-card-item-field">5000</span>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <span class="main-card-number">23%</span>
      <div>
        <span class="main-card-date">Выиграли</span>
        <span class="main-card-date">похожих на вас</span>
      </div>
    </div>
  </div>
</div>
