@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin desktop {
  @include media-breakpoint-up(md) {
    @content;
  }
}

@mixin mobile {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

@function asset_url($file) {
  @return url('/assets' + '/' + $file);
}

@mixin getSelect() {
  .ng-select-container {
    position: relative;

    input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 312px;
      height: 40px;
      background: #fff;
      border-radius: 4px;
      border: none;
      padding-right: 16px;
      padding-left: 16px;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none; /* Chrome */
      -moz-appearance: none; /* Firefox */

      &:active, &:focus {
        outline: none;
      }
    }

    &:after {
      content: url('~src/assets/img/select-arrow.svg');
      position: absolute;
      top: 7px;
      right: 16px;
      cursor: pointer;
      pointer-events: none;
    }
  }
}

