<div class="container main">
  <div class="w-100 d-flex justify-content-between main-form">
    <div class="main-block-filter-cat main-form-back"></div>
    <div class="w-25 d-flex flex-column align-items-center justify-content-center">
      <span class="main-mer">
        Мастер подбора мер поддержки
      </span>
      <button class="button" routerLink="/form">Подобрать</button>
    </div>
  </div>
  <h1 class="mb-0">Лапка поддержки</h1>
  <div class="main-block">
    <div class="d-flex flex-column w-100">
      <span class="main-block-label">Поиск</span>
      <input type="text" placeholder="Введите название" class="input main-input">
    </div>
    <div class="d-flex justify-content-between mt-4">
      <div class="d-flex flex-column main-block-filter">
        <span class="main-block-label">Территориальный уровень меры поддержки</span>
        <ng-select
          [items]="['ПАрпкпк', 'ergreg', 'frefreferf']"
          [virtualScroll]="false"
          [searchable]="false"
          [clearable]="false"
          class="select select-custom w-100"
          bindValue="id"
          bindLabel="name"
          clearAllText="Очистить"
          notFoundText="Ничего не найдено"
          placeholder="Не выбрано"
        >
        </ng-select>
      </div>
      <div class="d-flex flex-column main-block-filter">
        <span class="main-block-label">Отрасли</span>
        <ng-select
          [items]="['ПАрпкпк', 'ergreg', 'frefreferf']"
          [virtualScroll]="false"
          [searchable]="false"
          [clearable]="false"
          class="select select-custom w-100"
          bindValue="id"
          bindLabel="name"
          clearAllText="Очистить"
          notFoundText="Ничего не найдено"
          placeholder="Не выбрано"
        >
        </ng-select>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <div class="d-flex flex-column main-block-filter">
        <span class="main-block-label">Регулярность оказания меры поддержки</span>
        <ng-select
          [items]="['ПАрпкпк', 'ergreg', 'frefreferf']"
          [virtualScroll]="false"
          [searchable]="false"
          [clearable]="false"
          class="select select-custom w-100"
          bindValue="id"
          bindLabel="name"
          clearAllText="Очистить"
          notFoundText="Ничего не найдено"
          placeholder="Не выбрано"
        >
        </ng-select>
      </div>
      <div class="d-flex flex-column main-block-filter">
        <span class="main-block-label">Размер предприятия</span>
        <ng-select
          [items]="['ПАрпкпк', 'ergreg', 'frefreferf']"
          [virtualScroll]="false"
          [searchable]="false"
          [clearable]="false"
          class="select select-custom w-100"
          bindValue="id"
          bindLabel="name"
          clearAllText="Очистить"
          notFoundText="Ничего не найдено"
          placeholder="Не выбрано"
        >
        </ng-select>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-4 position-relative">
      <div class="d-flex flex-column main-block-filter">
        <span class="main-block-label">Формат предоставления поддержки</span>
        <ng-select
          [items]="['ПАрпкпк', 'ergreg', 'frefreferf']"
          [virtualScroll]="false"
          [searchable]="false"
          [clearable]="false"
          class="select select-custom w-100"
          bindValue="id"
          bindLabel="name"
          clearAllText="Очистить"
          notFoundText="Ничего не найдено"
          placeholder="Не выбрано"
        >
        </ng-select>
      </div>
      <button class="button main-block-filter-btn">Применить</button>
    </div>
  </div>
  <div *ngIf="isUser">
    <div class="d-flex align-items-center">
      <h3 class="mt-4 mb-0">Популярное</h3>
      <button type="button" class="button button-question mt-4" placement="right" ngbTooltip="Популярное"></button>
    </div>
    <app-card *ngFor="let item of [1, 2, 3]" class="main-item"></app-card>
  </div>
  <div *ngIf="!isUser">
    <div class="d-flex align-items-center">
      <h3 class="mt-4 mb-0">Популярное</h3>
      <button type="button" class="button button-question mt-4" placement="right" ngbTooltip="Популярное"></button>
    </div>
    <app-card *ngFor="let item of [1, 2, 3]" class="main-item"></app-card>
  </div>
<!--  <div>-->
<!--    <div class="d-flex align-items-center">-->
<!--      <h3 class="mt-4 mb-0">Выбор начинающих</h3>-->
<!--      <button type="button" class="button button-question mt-4" placement="right" ngbTooltip="Выбор начинающих"></button>-->
<!--    </div>-->
<!--    <ngb-carousel>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="d-flex flex-wrap justify-content-between">-->
<!--          <app-card *ngFor="let item of [1, 2, 3]" class="main-item"></app-card>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="d-flex flex-wrap justify-content-between">-->
<!--          <app-card *ngFor="let item of [1, 2, 3]" class="main-item"></app-card>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="d-flex flex-wrap justify-content-between">-->
<!--          <app-card *ngFor="let item of [1, 2, 3]" class="main-item"></app-card>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ngb-carousel>-->
<!--  </div>-->
</div>
