<div class="container grant">
  <div class="d-flex align-items-center">
    <h1 class="mb-0">Название</h1>
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center">
        <span class="grant-type"></span>
        <span class="grant-button">Рекомендовано вам</span>
      </div>
      <button type="button" class="button button-question" placement="right" ngbTooltip="Рекомендовано вам"></button>
    </div>
  </div>
  <div [innerHTML]="'fewfew' | trustHtml" class="mt-4"></div>
  <div class="w-100 grant-info">
    <h3>Общая информация</h3>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Полное наименование регулирующего предоставление меры поддержки с указанием реквизитов</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Тип меры поддержки</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Формат предоставления поддержки</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Срок возврата предоставленной поддержки</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Процентная ставка предоставления поддержки</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Регулярность оказания меры поддержки</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <h3>Требования к проекту</h3>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Необходимость софинансирования проекта</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Доля необходимого софинансирования</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Допустимый бюджет проекта</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <h3>Требования к заявителю</h3>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Полное наименование регулирующего предоставление меры поддержки с указанием реквизитов</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    <div class="d-flex grant-info-element justify-content-between">
      <span class="grant-info-element-field">Полное наименование регулирующего предоставление меры поддержки с указанием реквизитов</span>
      <span class="grant-info-element-text">Стандарт СФ-И-116. Условия и порядок отбора проектов для финансирования по программе
        «Цифровизация промышленности»</span>
    </div>
    Необходимые документы для предоставления меры поддержки
  </div>
  <h4 class="grant-text">История успеха</h4>
  <div class="reviews">
    <div class="reviews-items">
      <span class="reviews-items-name">Амир</span>
      <span class="reviews-items-text">
        Доставка 18 дней в Пензу. Трек отслеживался. Продавец на связи. Мой рост 175 , ОТ 85, ОБ 105 заказала Green + L.
        Размер подошёл. Леггинсы классные. Мягкие, приятные к телу, одеваются легко, тянутся хорошо. Я чувствую себя в
        них очень комфортно. Довольна покупкой. Посмотрим как будут носится. Рекомендую к покупке!
      </span>
    </div>
  </div>
  <h4 class="grant-text">Вас может заинтересовать</h4>
  <app-card *ngFor="let item of [1, 2, 3]" class="main-item"></app-card>
</div>
